.banner{

    width: 100%;
    height: 600px;

}
.banner1{
    
    width: 100%;
    height: 600px;
position: relative;
} 


@media (max-width: 768px) {
    .banner,
    .banner1 {
        height: 400px;
    }
}



@media (max-width: 480px) {
    .banner,
    .banner1 {
        height: 250px;
    }
}